VITE_SUPABASE_URL=https://zwbvjekuchgskqndxceg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp3YnZqZWt1Y2hnc2txbmR4Y2VnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4NzEyNjIsImV4cCI6MjA3ODQ0NzI2Mn0.yP4g2EtsGOkQL__RLBsoDULrm2VX3nyJ79TKWtiFL6o
